body{
    background-image: url("blue1.jpg");
   
  }
.grid{
    display:flex;
    flex-direction: row;    
    column-gap: 5rem;
    justify-content: top;
    align-items: top;
    margin: 2rem;
    color: white;
}
.lottie{
    margin-top: 12rem;
    margin-right: -25rem;
}
.button{
    height: 2rem;
    width: 4rem;
    color: whitesmoke;
    text-decoration: none;  
}
a{
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}
.title{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1.2rem;
    margin-left: 4rem;
}
.dsc{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-left: -13rem;
}
.btns{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1.2rem;
    text-decoration: none;
    margin-right: 1.3rem;
    color: whitesmoke;
}
.newbtn{
    width: 15rem;
    height :3rem;
    border: 2px solid black;
    border-radius: 2rem;
}
